# Ignorar el entorno virtual
venv/

# Ignorar archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar configuraciones de entorno o IDEs
*.env
*.venv
.env/
.venv/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de Jupyter
.ipynb_checkpoints/

# Ignorar datos temporales
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Ignorar distribuciones
dist/
build/
*.egg-info/

# Ignorar archivos de cobertura de tests
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
htmlcov/

# Ignorar archivos de pytest
.cache/

# Ignorar notebooks de outputs grandes (opcional)
notebooks/*-output.ipynb

# Ignorar datos pesados (opcional)
data/
models/
*.keras
*.h5
